
services:
  frontend:
    build:
      context: ./Frontend
    ports:
      - "8080:8080"
    depends_on:
      - backend

  backend:
    build:
      context: ./Backend
    ports:
      - "8000:8000"
